@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/* Branding colors */
:root {
  --color-primary: #B54118;   /* Warm Rust Orange */
  --color-secondary: #000B25; /* Deep Navy Blue */
}
/* globals.css */

html, body {
  /* overflow-x: hidden sticky ko break karta hai, isliye 'clip' use karein */
  overflow-x: clip ; 
  position: relative;
  height: auto;
  /* Scrollbar ki wajah se navbar ko hilne se rokne ke liye */
  scrollbar-gutter: stable;
}

/* Navbar shifting fix */
nav {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
}

/* Sticky behavior ko force karne ke liye */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

