@import "tailwindcss";
body{
  background-color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: full;
}
/* Branding colors */
:root {
  --color-primary: #B54118;   /* Warm Rust Orange */
  --color-secondary: #000B25; /* Deep Navy Blue */
}
